.list-container
{
    padding: 6rem;

    td,th{
       padding: 24px;
    }
    td{
        cursor: pointer;
    }
    th{
        cursor: default;
    }

   .disabled{
        background-color: gray;
        
        td{
            color: lightgrey;
            cursor: default;
        }
    }
}

.close{
    background-color: transparent;
    border: none;
    outline: none;
}

.alert{
    position: absolute;
    min-width: 200px;
    top: 1rem;
    right: 1rem;
    z-index: 3000;
}

::ng-deep {
    .modal-dialog{
     margin-top: 30vh;
    }
}
